<div class="block">
    <h1>Listing admin_todo_lists</h1>

    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Starred</th>
        <th>Due date</th>
        <th>Completed at</th>
        <th>Deleted at</th>
        <th>Todo tag</th>
        <th>User</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @admin_todo_lists.each do |admin_todo_list| %>
      <tr>
        <td><%= admin_todo_list.name %></td>
        <td><%= admin_todo_list.description %></td>
        <td><%= admin_todo_list.starred %></td>
        <td><%= admin_todo_list.due_date %></td>
        <td><%= admin_todo_list.completed_at %></td>
        <td><%= admin_todo_list.deleted_at %></td>
        <td><%= admin_todo_list.todo_tag %></td>
        <td><%= admin_todo_list.user %></td>
        <td><%= link_to 'Show', admin_todo_list %></td>
        <td><%= link_to 'Edit', edit_admin_todo_list_path(admin_todo_list) %></td>
        <td><%= link_to 'Destroy', admin_todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New List', new_admin_todo_list_path %>

</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
