<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_todo_tag.name %>
</p>

<p>
  <b>Static:</b>
  <%= @admin_todo_tag.static %>
</p>

<p>
  <b>User:</b>
  <%= @admin_todo_tag.user %>
</p>


<%= link_to 'Edit', edit_admin_todo_tag_path(@admin_todo_tag) %> |
<%= link_to 'Back', admin_todo_tags_path %>
